.listItem {
    padding: 8px;
}

.list {
    overflow-y: scroll;
    max-height: 70vh;
    background: linear-gradient(#fafafa 60%, #eee);
}

.actionButtonList {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.actionButton {
    margin: 16px;
}

.goalContainer {
    padding: 8px;
    padding-left: 16px;
    border-left: #dedede 4px solid;
    margin-top: 16px;
    margin-bottom: 16px;
}
